---
import BaseLayout from "../layouts/BaseLayout.astro"
import { profile } from "../data/profile"
---

<BaseLayout>
	<Fragment slot="title">{profile.name}</Fragment>
	<h2 class="text-2xl font-semibold mb-2">{profile.name}</h2>
	<p class="mb-4">研究者志望</p>
	<p class="text-lg">
		Github: <a href={profile.github_url} class="text-blue-600 underline">
			{profile.github}
		</a>
	</p>
</BaseLayout>
